// Buenard - Body Text
@font-face {
  font-family: 'Buenard';
  font-style: normal;
  font-weight: 400;
  src: local('Buenard'), local('Buenard-Regular'), url('../fonts/_rjRFgQ8TJpAj5YkMnZgHwLUuEpTyoUstqEm5AMlJo4.woff') format('woff');
}

@font-face {
  font-family: 'Buenard';
  font-style: normal;
  font-weight: 700;
  src: local('Buenard Bold'), local('Buenard-Bold'), url('../fonts/8T0adwz_RAtKrxbccQmEFL3hpw3pgy2gAi-Ip7WPMi0.woff') format('woff');
}

@font-face {
  font-family: 'Petrona';
  font-style: normal;
  font-weight: 400;
  src: local('Petrona Regular'), local('Petrona-Regular'), url('../fonts/2fuQd9BLYXP2WuqQZNabvgLUuEpTyoUstqEm5AMlJo4.woff') format('woff');
}

@font-face {
  font-family: 'Enriqueta';
  font-style: normal;
  font-weight: 400;
  src: local('Enriqueta-Regular'), url('../fonts/-KTKVm0Mx9ZCRXL9CXVIbbO3LdcAZYWl9Si6vvxL-qU.woff') format('woff');
}

@font-face {
  font-family: 'Enriqueta';
  font-style: normal;
  font-weight: 700;
  src: local('Enriqueta-Bold'), url('../fonts/v5/I27Pb-wEGH2ajLYP0QrtSKRDOzjiPcYnFooOUGCOsRk.woff') format('woff');
}
