// #################
// Home View
// #################

.my-stories {
  h3 {
    margin-top: 0;
    color: $spark-dark-red;
  }
  h4{
    color: $spark-gray;
  }
}

.story-item {
  em {
    color: lighten($spark-gray, 30%);
  }
}