*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: #434343;
}

img {
  max-width: 100%;
}

p {
  font-family: 'Enriqueta', 'Times', serif;
  font-weight: 400;
  font-size: 20px;
  color: $spark-gray;
}

h1, h2, h3, h4, h5, h6 {
  color: $spark-gray;
  font-family: 'Noticia Text', Times, serif;
}

a {
  color: $spark-light-blue;
  &:hover {
    color: darken($spark-light-blue, 20%);
  }
}

// ##################################
// bootstrap extends
// ##################################

// ensure the story panel footer is
// displaying control btns inline
// add to btn-toobal class
.btn-toolbar-inline {
  display: inline-block;
  vertical-align: middle;
}

.panel-custom {
  box-shadow: 0 4px 10px -4px rgba(0,0,0,0.2);
}

.panel-footer-mini {
  background: {
    color: #ffffff;
  }
  border: none; 
  padding-top: 0;
}

.btn-red {
  color: $spark-red;
  &:hover {
    border-color: $spark-red;
    background-color: $spark-red;
    color: white;
  }
}

.btn-green {
  color: forestgreen;
  &:hover {
    border-color: forestgreen;
    background-color: forestgreen;
    color: white;
  }
}

.header-nav {
  @media (max-width: 768px){
    padding-left: 12px;
    padding-right: 12px;
  }
}

li.nav-mobile {
  @media screen and (min-width: 500px) {
    display: none;
  }
}

li.nav-desktop {
  @media screen and (max-width: 500px) {
    display: none;
  }
}

.nav .user-avatar {
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.dropdown-menu {
  left: auto;
  right: 0 !important;
}

.footer-nav {
  .info {
    color: white;
    padding: 10px 0;
  }
  @media (max-width: 768px){

  }
}



// ##################################
// gereral app styles
// ##################################

.main-content {
  padding: 84px 0 32px;
  min-height: calc(100vh - 59px);
}

.app-header {
  padding: 10px 0;
  box-shadow: 0 0 26px rgba(0, 0, 0, 0.2);
  background: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  .logo {
    width: 150px;
  }
  .navbar-logo {
    padding: 0;
    height: auto;
    margin-top: 5px;
  }
}

.footer {
  background: #414141;
  padding: 10px 0;
}
