*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: #434343;
}

img {
  max-width: 100%;
}

p {
  font-family: 'Enriqueta', 'Times', serif;
  font-weight: 400;
  font-size: 22px;
}

// ##################################
// bootstrap extends
// ##################################

// ensure the story panel footer is
// displaying control btns inline
// add to btn-toobal class
.btn-toolbar-inline {
  display: inline-block;
  vertical-align: middle;
}

.panel-custom {
  box-shadow: none;
}

.panel-footer-mini {
  background: {
    color: #ffffff;
  }
  padding-top: 5px;
  padding-bottom: 5px;
}



// ##################################
// gereral app styles
// ##################################

.main-content {
  padding: 84px 0 32px;
  min-height: calc(100vh - 59px);
}

.app-header {
  padding: 10px 0;
  box-shadow: 0 0 26px rgba(0, 0, 0, 0.2);
  background: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.footer {
  background: #252525;
  padding: 10px 0;
}

// ##################################
// Adding a story view
// ##################################

.title-field {
  font-family: 'Noticia Text', Times, serif;
  font-weight: bold;
  border: none;
  border-radius: 0px;
  border-bottom: 2px solid #cfcfaf;
  font-size: 26px;
  box-shadow: none;
  outline: none;
  padding: 24px 0;
  letter-spacing: 0.02em;
  &:focus {
    box-shadow: none;
    border-color: #252525;
  }
}

// ##################################
// user profile
// ##################################

.user-profile {
  font-family: 'Enriqueta', Times, serif;
  background: #ffffff;
  border-radius: 5px;
  padding: 22px;
  box-shadow: 0px 0px 15px -4px rgba(0,0,0,0.3);
  &-avatar { // avatar box
    text-align: center;
  }
  .user-avatar {
    margin: 0 auto;
    border: 5px solid #ffffff;
    box-shadow: 2px 2px 12px -4px rgba(0,0,0,0.7)
  }
  &-details {
    font-size: 20px;
    line-height: 36px;
    padding-bottom: 22px;
  }
  &-edit{
    input[type="text"],
    textarea {
      font-family: 'Enriqueta', Times, serif;
      font-size: 20px;
      border: none;
      padding: 20px 0;
      box-shadow: none;
      border-radius: 0px;
      border-bottom: 2px solid #EBEBEB;
      &:focus {
        border-color: #8f8f8f;
        box-shadow: none;
      }
    }
    textarea {
      padding: 10px 0;
    }
    input[name="alias"]{
      border-bottom: 0;
      padding: 24px 0;
      margin: 20px auto;
      text-align: center;
      font-size: 34px;
    }
    label {
      margin-bottom: -10px;
      font-size: 10px;
      text-transform: uppercase;
      color: #afafaf;
    }

  }

}

#user-profile-img-form {
  display: none;
}


// user avatar
.user-avatar {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
  .edit {
    cursor: pointer;
    img {
      transition: filter 200ms ease-in-out 300ms;
    }
    &:after {
      font-family: "Glyphicons Halflings";
      content: "\e046";
      color: rgba(255,255,255,0.95);
      font-size: 54px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-48%, 120%);
      transition: transform 300ms cubic-bezier(0.57, -0.15, 0.13, 0) 50ms;
    }
  }
  &:hover {
    .edit {
      &:after {
        transition: transform 200ms cubic-bezier(0.57,-0.01, 0.13, 1.25) 200ms;
        transform: translate(-48%, -53%);
      }
      img {
        filter: saturate(120%) blur(5px) brightness(0.5);
        transition: filter 200ms ease-in-out;
      }
    }
  }
  &.user-avatar-xs {
    width: 24px;
    height: 24px;
  }
  &.user-avatar-sm {
    width: 40px;
    height: 40px;
  }
  &.user-avatar-md {
    width: 72px;
    height: 72px;
  }
}

// #################
// story view
// #################
.story-segment{
  font: {
    family: 'Enriqueta', 'Times', serif;
    weight: 400;
    size: 22px;
  }
  color: rgb(50, 50, 50);
  .avatar {
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }
  .alias {
    font-size: 13px;
  }
}
.story-footer {
  img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }
}
.contributor-profile {
  display: inline-block;
  margin-left: 16px;
}

.story-aside {
  h4 {
    text-align: center;
  }
  .user-avatar { 
    margin: 0 auto;
  }
  .owner-detail {
    text-align: center;
    a {
      display: block;
      .owner-alias {
        margin: 0 auto;
      }
    }
  }
}


// #################
// story editor
// #################
/* edit these rules to customize how LanguageTool shows errors: */
.hiddenSpellError {
    background-color: rgba(255,0,0, 0.2);
    cursor: pointer;
}

.hiddenGrammarError {
    background-color: #fee481;
    cursor: pointer;
}

.hiddenSuggestion {
    background-color: rgb(201,205,255);
    cursor: pointer;
}

// tinymce styles
#menu_checktext_spellcheckermenu_co {
  left: 0 !important; // knock the menu back in place
}
